.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d5rtyt');
  src:  url('../fonts/icomoon.eot?d5rtyt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d5rtyt') format('truetype'),
    url('../fonts/icomoon.woff?d5rtyt') format('woff'),
    url('../fonts/icomoon.svg?d5rtyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*shortcut开始*/
.shortcut .icomoon {
	font-family: 'icomoon';
	font-size: 16px;
	line-height: 20px;
}
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
}
.shortcut li {
	float: left;
}
.spacer {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 7px 9px 12px;
}
.style-color {
	color: #c81623;
}
/*shortcut结束*/
/*header 开始*/
.header {
	position: relative;
	height: 106px;
	/*background-color: pink;*/
}
/*logo开始*/
.logo {
	position: absolute;
	top: 27px;
	left: 0px;
	width: 175px;
	height: 56px;
	background: url(../img/01-电商-主页-gai_03.png) no-repeat;
}
.logo a {
	display: block;
	height: 56px;
	width: 175px;
	font-size: 0px;
}
/*search开始*/
.search {
	position: absolute;
	top: 27px;
	left: 350px;

}
.text {
	float: left;
	width: 444px;
	height: 32px;
	font-size: 14px;
	color: #666;
	border: 2px solid #b1191a;
	padding-left: 10px;
}
.but {
	float: left;
	width: 86px;
	height: 36px;
	font-size: 16px;
	color: #fff;
	background-color: #b1191a;
	border: 0px;
}
/*hotwords开始*/
.hotwords {
	position: absolute;
	top: 70px;
	left: 360px;
}
.hotwords a {
	margin-right: 20px;
}
/*shopcar开始*/
.shopcar {
	position: absolute;
	top: 27px;
	right: 63px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
} 
.shopcar-che {
	font-family: 'icomoon';
	height: 34px;
	line-height: 34px;
}
.shopcar-jianto {
	font-family: 'icomoon';
	font-size: 18px;
}
.shopcar-wode {
	margin: 0px 14px 0px 7px;
	height: 34px;
	line-height: 34px;
}
/*header 结束*/
/*nav开始*/
.nav {
	height: 54px;
	border-bottom: 2px solid #b1191a;
}
.dropdown {
	width: 210px;
	height: 54px;
}
.dt {
	display: block;
	width: 100%;
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #b1191a;
}
.dd {
	margin-top: 2px;
	height: 466px;
	width: 100%;
	background-color: #c81623;
}
.menu_item {
	height: 31px;
	line-height: 31px;
}
.menu_item:hover {
	background-color: #fff;
	border-left: 1px solid #c81623;
}
.menu_item:hover a {
	color: #c81623;
}
.menu_item a {
	font-size: 14px;
	color: #fff;
	margin: 0 8px;
}
.menu_item i {
	font-family: 'icomoon';
	float: right;
	margin-right: 8px;
	font-size: 18px;
	color: #fff;
	height: 31px;
}
.navitems {
	padding-left: 36px;
}
.navitems li {
	float: left;
	font-size: 16px;
	color: #333;
	height: 54px;
	line-height: 54px;
	margin-right: 50px;
}
/*nav结束*/
/*footer开始*/
.footer {
	height: 388px;
	background-color: #f5f5f5;
	padding-top: 30px;
}
.mod_service {
	height: 80px;
	/*background-color: pink;*/
	border-bottom: 1px solid #ededed;
}
.mod_service ul li {
	float: left;
	width: 240px;
	height: 100%;
}
.mod_service_ico {
	margin-left: 30px;
	float: left;
	width: 49px;
	height: 49px;	
	background: url(../img/icons.png) no-repeat;
}
.mod_service_zheng {
	background-position: -253px -3px;
}
.mod_service_kuai {
	background-position: -255px -55px;
}
.mod_service_bao {
	background-position: -254px -105px;
}
.mod_service_te {
	background-position: -257px -158px;
}
.mod_service_bang {
	background-position: -257px -209px;
}
/*footer结束*/