/*详情页样式*/
/*面包屑daohang*/
.de_container {
	margin-top: 20px;
}
.crumb_wrap {
	height: 30px;
}
.crumb_wrap a {
	margin-right: 10px;
}
/*产品介绍模块  开始*/
.preview_wrap {
	width: 400px;
	height: 590px;
	/*background-color: pink;*/
}
	/*上面图片盒子*/
.preview_img img {
	height: 398px;
	border: 1px solid #ccc;
}
	/*中间预览列表*/
.preview_list {
	height: 60px;
	margin-top: 60px;
	/*background-color: red;*/
}

	/*按钮*/
.preview_list {
	position: relative;

}
.arrow_prew ,
.arrow_next {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	width: 22px;
	height: 32px;
	/*background-color: #000;*/
}
.arrow_prew {
	left: 0;
	background: url(../img/arrow-prev.png) no-repeat;
}
.arrow_next {
	right: 0;
	background: url(../img/arrow-next.png) no-repeat;
}
	/*预览小图*/
.list_item {
	width: 320px;
	height: 60px;
	/*background-color: skyblue;*/
	margin: 0 auto;
}

.list_item li {
	float: left;
	width: 56px;
	height: 56px;
	border: 2px solid transparent;
	margin: 0 2px;
}
.list_item li:hover {
	border-color: red;
}
/*右边的预览区域*/
.itemInfo_wrap {
	width: 718px;
	padding-left: 9px;
	/*background-color: red;*/
}
.sku_name {
	font-size: 16px;
	color: #333;
	height: 34px;
}
.news {
	color: #e12228;
	height: 34px;
}
.summary dl {
	overflow: hidden;
}
.summary dt {
	float: left;
	width: 65px;
	color: #666;
}
.summary dd {
	float: left;
}
/*第一个dl*/
.summary_price {
	position: relative;
	background-color: pink;
	/*margin-top: 10px;*/
}
.summary_price dt {
	width: 60px;
	line-height: 36px;
}
.price {
	font-size: 24px;
	color: #e12228;
}
.summary_price dd a {
	font-size: 12px;
	color: #c81623;
}
.remark {
	position: absolute;
	top: 5px;
	right: 15px;
}
/*第二个dl*/
.summary_promotion {
	background-color: pink;
	line-height: 40px;
}
.summary_promotion dd em {
	display: inline-block;
	width: 40px;
	height: 22px;
	background-color: #c81623;
	color: #fff;
	text-align: center;
	line-height: 22px;
}
.summary_promotion dd {
	width: 500px;
	/*line-height: 30px;*/
}
/*第三个dl*/
.summary_support {
	margin: 16px 0 5px 0;
	/*line-height: 25px;*/
}
/*第四个dl*/
.summary_stock {
	line-height: 30px;
}
.summary_stock dd {
	width: 435px;
	font-family: 'icomoon';
}
/*第五个dl*/
.choose_color,
.choose_version {
	margin-top: 8px;
}
.choose_color dt {
	line-height: 40px;
}
.choose_color a,
.choose_version a {
	display: inline-block;	
	color: #333;
	border: 1px solid #ededed;
	background-color: #f7f7f7;
	text-align: center;
	
}
.choose_color a {
	width: 82px;
	height: 40px;
	line-height: 40px;
}
/*第六个dl*/
.choose_version a {
	width: 60px;
	height: 32px;
	line-height: 32px;
}
/*choose_btns 加入购物车哪一行*/
.choose_btns {
	margin-top: 15px;
}
.choose_amount {
	position: relative;
	width: 51px;
	height: 46px;
}
.choose_amount input {
	width: 33px;
	height: 44px;
	border: 1px solid #ccc;
	text-align: center;
}
.add,
.redue {
	position: absolute;
	right: 0px;
	width: 15px;
	height: 22px;
	border: 1px solid #ccc;
}
.add {
	top: 0px;
}
.redue {
	bottom: 0px;
}
.addcar {
	display: inline-block;
	float: left;
	width: 142px;
	height: 46px;
	background-color: #c81623;
	font-size: 18px;
	color: #fff;
	line-height: 46px;
	text-align: center;
}
/*产品细节模块 product_detail*/
.aside {
	width: 208px;
	border: 1px solid #ccc;
	/*一会回来删*/
	height: 800px;
}
/*aside 上*/
.first_tab,
.second_tab {
	height: 33px;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
	line-height: 33px;
	text-align: center;
}
.first_tab {
	width: 104px;	
}
.second_tab {
	width: 103px;
	border-left: 1px solid #ccc;
}
.tab_list .current {
	background-color: #fff;
	color: #c81623;
	border-bottom: none;
}
/*aside 下*/
.tab_con {
	padding: 8px 10px 0 10px;
}
.tab_con li {
	border-bottom: 1px solid #ccc;
}
.tab_con h5 {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tab_con p {
	color: #333;
	margin-top: 14px;
}
.tab_con a {
	width: 88px;
	height: 26px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
}
.detail {
	width: 978px;
	border: 1px solid #ccc;
	/*一会回来删*/
	height: 800px;
}
