/*列表样式*/
/*hread */
.sk {
	position: absolute;
	top: 40px;
	left: 185px;
	height: 32px;
	padding-left: 10px;
	border-left: 1px solid #b1191a;
}
/*nav开始*/
.nav {
	position: relative;
	height: 45px;
	line-height: 45px;
	/*background-color: pink;*/
	border-bottom: 2px solid #b1191a;
	z-index: 10px;
} 
.sk_list li {
	float: left;
	/*line-height: 45px;*/
}
.sk_list li a {
	font-size: 16px;
	font-weight: 700;
	color: #000;
	margin: 0 20px;
	
}
.sk_con li {
	float: left;
	/*line-height: 45px;*/
}
.sk_con li a {
	font-size: 14px;
	font-weight: 700;
	color: #666;
	margin: 0 20px;
}
/*nav结束*/
/*sk_container开始*/
.sk_bd {
	margin-top: 25px;
}
.sk_bd ul {
	width: 1212px;
}
.sk_goods {
	float: left;
	margin: 0 13px 13px 0;
	position: relative;
	height: 458px;
	width: 288px;
	border: 1px solid #e12228;
}
.sk_text {
	padding: 0 11px;
}
.sk_good_tiele {
	font-size: 14px;
	color: #666;
	font-weight: 400;
}
.sk_good_price  {
	margin: 10px 0 8px 0;
}
.sk_good_price em {
	font-size: 22px;
	color: #c60012;
}
.sk_good_price del {
	font-size: 14px;
	color: #a4a4a4;
	margin-left: 7px;
}
.bar {
	margin: 0px 13px;
	display: inline-block;
	width: 132px;
	height: 12px;
	border: 1px solid #e12228;
	vertical-align: middle;
	border-radius: 6px;
}
.bar_in {
	height: 100%;
	width: 87%;
	background-color: #ed282e;
	border-radius: 6px 0 0 6px;
}
.sk_good_buy {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	display: block;
	font-size: 20px;
	color : #fff;
	line-height: 50px;
	text-align: center;
	background-color: #b1191a;
}
/*sk_container结束*/
.page {
	height: 60px;
	line-height: 60px;
	background-color: pink;
	text-align: center;
}
.page_num a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
}
.page_num .page_num_shang,
.page_num .page_num_xia {
	width: 70px;
	height: 40px;
}
.page_skip input {
	display: inline-block;
	width: 50px;
	height: 40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.page_skip button {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}